<div class="products-div">
  <form>
    <legend>PRODUCTOS</legend>
    <div class="form-group">
      <label for="productName">Nombre Producto</label>
      <input
        type="text"
        class="form-control"
        id="productName"
        placeholder="Nombre Producto"
      />
      <label for="purchasePrice">Precio Compra</label>
      <input
        type="text"
        class="form-control"
        id="purchasePrice"
        placeholder="Precio Compra"
      />
      <label for="salePrice">Precio Venta</label>
      <input
        type="text"
        class="form-control"
        id="salePrice"
        placeholder="Precio Venta"
      />
      <label for="description">Descripcion</label>
      <input
        type="text"
        class="form-control"
        id="description"
        placeholder="Descripcion"
      />
      <label for="measure">Medida</label>
      <input
        type="text"
        class="form-control"
        id="measure"
        placeholder="Medida"
      />
      <label for="stock">Existencias</label>
      <input
        type="text"
        class="form-control"
        id="stock"
        placeholder="Existencias"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <button class="btn btn-primary" (click)="getAllProducts()">Submit</button>
</div>
