table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
}

button {
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.products-div {
  height: 309px;
  float: right;
  width: 85%;
}
.titulo {
  margin-left: 3%;
  margin-top: 1%;
}
.editarBoton {
  color: gray;
}
.eliminarBoton {
  color: gray;
}
.mat-header-cell {
  font-variant: small-caps;
}
