.products-div {
  border: 1px;
  border-style: solid;
  border-color: blue;
  float: right;
  width: 85%;
  height: fit-content;
}
.products-div form {
  margin: 40px;
  padding: 20px;
}
@media (max-width: 762px) {
  .products-div {
    max-width: 70%;
  }
}
