.purchase-div {
  height: fit-content;
  float: right;
  width: 85%;
  border: 1px;
  border-style: solid;
  border-color: blue;
}
.purchase-div form {
  margin: 20px;
  padding: 20px;
}

@media (max-width: 762px) {
  .purchase-div {
    max-width: 70%;
  }
}
