<div class="purchase-div">
  <form>
    <legend>Compras</legend>
    <div class="form-group">
      <label for="productName">Producto</label>
      <input
        type="text"
        class="form-control"
        id="productName"
        placeholder="Producto"
      />
      <label for="amount">Cantidad</label>
      <input
        type="text"
        class="form-control"
        id="amount"
        placeholder="Cantidad de Producto"
      />
      <label for="subtotal">SubTotal</label>
      <input
        type="text"
        class="form-control"
        id="subtotal"
        placeholder="SubTotal"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
