.sidebar-list li {
  list-style: none;
  display: block;
  margin: 20px 20px 20px 0px;
}
.sidebar-list li a {
  font-style: none;
  color: white;
  text-decoration: none;
}
.sidebar {
  margin-top: 0.2px;
  margin-left: 0px;
  width: 15%;
  background-color: #29303b;
  color: white;
  height: 100%;
  display: inline-block;
  position: sticky;
}

@media (max-width: 762px) {
  .sidebar {
    min-width: 30%;
  }
}
