<div class="sidebar">
  <ul class="sidebar-list">
    <li><a [routerLink]="['/Users']"><mat-icon class="eliminarBoton">supervised_user_circle</mat-icon>Usuarios</a></li>
    <li><a [routerLink]="['/Products']"><mat-icon class="eliminarBoton">list_alt</mat-icon>Productos</a></li>
    <li><a [routerLink]="['/Sales']"><mat-icon class="eliminarBoton">monetization_on</mat-icon>Ventas</a></li>
    <li><a [routerLink]="['/Purchases']"><mat-icon class="eliminarBoton">shopping_cart</mat-icon>Compras</a></li>
  </ul>
</div>
