<div class="users-div">
    <h1 class="titulo">Usuarios</h1>
    <button mat-raised-button color="primary">Agregar usuario</button>

    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element">
                {{ element[column] }}
                <div *ngIf="column == 'Acciones'">
                    <button mat-icon-button>
                        <mat-icon class="editarBoton">edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon (click)="delete(element['id'])" class="eliminarBoton">delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayP"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplayP"></tr>
    </table>

</div>